
}

.header-wrapper{

}
.body-wrapper{

}
.footer-wrapper{

}
.clearfix::after,.clearfix::before{
	content:"";
	clear:both;
	display:table;
}
.main-container{
	width:100%;

}
body:hover{
	cursor:url('../images/fist.png');
}

.flipper{
	-webkit-transform:scaleX(-1);
	transform:scaleX(-1);
}
.main-container span{
	display:inline-block;
	background-color:red;
	color:white;
	font-size:20px;
	position:fixed;
}

.finished{
	font-size:80px;
}